.container {
    max-width: 500px;
    height: 500px;
    margin: 30px auto;
    padding: 20px;
    /* border: 1px solid black; */
}

.table {
    display: table;
    margin: 0 auto;
}

.cards {
    /* border: 3px solid black; */
    position: relative;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 400px;
    height: 400px;
    transform: translateY(25%);
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.cards li {
   
    border: 3px solid black;
    width: 125px;
    height: 175px;
    text-align: center;
    line-height: 175px;
    border-radius: 15px;
    margin: 10px;
}

.operators {
    /* border: 3px solid black; */
    position: relative;
    list-style-type: none;
    width: 500px;
    display: flex;
    justify-content: center;
    transform: translateY(120%);
    padding: 0;
    font-size: 30px;
    font-weight: bold;
}

.operators li {
    border: 2px solid black;
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 15px;
    margin: 5px 15px 5px 15px
    
}